<!DOCTYPE html>
<html>

<head>
    <title>member</title>
    <link rel="stylesheet" type="text/css" href="../static/css/layout.css">
    <link rel="stylesheet" type="text/css" href="../static/css/member.css">
    <script src="../static/js/member.js"></script>
</head>

<body>
    <div class="container">
        <div class="div-title">
            <p class="title">NLP專題-成員與參考資料</p>
        </div>
        <div class="div-content" id="divContent">
            <div class="div-member">
                <img src="../static/img/data.png" />
                <p class="p-member">沈富堅</p>
            </div>
            <div class="div-member">
                <img src="../static/img/data.png" />
                <p class="p-member">沈富堅</p>
            </div>
            <div class="div-member">
                <img src="../static/img/data.png" />
                <p class="p-member">沈富堅</p>
            </div>
            <div class="div-member">
                <img src="../static/img/data.png" />
                <p class="p-member">沈富堅</p>
            </div>
            <div class="div-member">
                <img src="../static/img/data.png" />
                <p class="p-member">沈富堅</p>
            </div>
            <div class="div-member">
                <img src="../static/img/data.png" />
                <p class="p-member">沈富堅</p>
            </div>
        </div>
        <div class="div-href">
            <a class="href" href="{{url_for('process')}}">process</a>
            <p class="href p-href" id="btnRefer">參考資料</p>
            <a class="href" href="{{url_for('show')}}">show</a>
        </div>
    </div>
    <div class="div-refer" id="divRefer">
        <p class="p-refer">123</p>
    </div>


</body>

</html>