<!DOCTYPE html>
<html>

<head>
    <title>process</title>
    <link rel="stylesheet" type="text/css" href="../static/css/process.css">
    <link rel="stylesheet" type="text/css" href="../static/css/layout.css">
    <script src="../static/js/process.js"></script>
</head>

<body>
    <div class="container">
        <div class="div-title">
            <p class="title">NLP專題-使用技術</p>
        </div>
        <div class="div-content">
            <div class="div-img">
                <img src="../static/img/data.png" />
                <p class="p-img">data</p>
            </div>
            <div class="div-img">
                <img src="../static/img/model.png" />
                <p class="p-img">model</p>
            </div>
            <div class="div-img">
                <img src="../static/img/web.png" />
                <p class="p-img">web</p>
            </div>
        </div>
        <div class="div-href">
            <a class="href" href="{{url_for('show')}}">show</a>
            <a class="href" href="{{url_for('member')}}">member</a>
        </div>
    </div>


</body>

</html>