<!DOCTYPE html>
<html>

<head>
    <title>process</title>
    <link rel="stylesheet" type="text/css" href="../static/css/process.css">
    <link rel="stylesheet" type="text/css" href="../static/css/layout.css">
    <script src="../static/js/process.js"></script>
</head>

<body>
    <div class="container">
        <div class="div-title">
            <p class="title">NLP專題-使用技術</p>
        </div>
        <div class="div-class" id="divClass">
            <div class="div-img">
                <img class="img-class" src="../static/img/data.png" />
                <p class="p-class">data</p>
            </div>
            <div class="div-img">
                <img class="img-class" src="../static/img/model.png" />
                <p class="p-class">model</p>
            </div>
            <div class="div-img">
                <img class="img-class" src="../static/img/web.png" />
                <p class="p-class">web</p>
            </div>
        </div>
        <div class="div-inside" id="divInside">
            <img class="img-inside" src="../static/img/data.png" />
            <div class="div-inside-content">
                <p class="p-inside-title">你好</p>
                <p class="p-inside-content">這是內容</p>
            </div>

        </div>
        <div class="div-href">
            <a href="{{url_for('show')}}">
                <p class="href">show</p>
            </a>
            <a href="{{url_for('member')}}">
                <p class="href">member</p>
            </a>
        </div>
    </div>


</body>

</html>